.personPhoto {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
}
.photo {
  width: 100%;
  height: 100%;
  border-radius: var(--b-rad-m);
  object-fit: cover;
  object-position: center center;
}
.favourite {
  position: absolute;
  top: -15px;
  right: -45px;
  z-index: 1000;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center center;
  filter: drop-shadow(0 0 2px #000);
  cursor: pointer;
}
