:root {
  --b-rad-m: 5px;
  --b-rad-s: 3px;

  --container: 1200px;

  --col-black: #000;
  --col-blue: #6a83fb;
  --col-dark-gray: #10100e;
  --col-red: #f75d83;
  --col-violet: #ae72c2;
  --col-white: #fff;
  --col-yellow: #ffff00;

  --font-w-bold: 700;
  --font-f-main: sans-serif;

  --font-z-main: 16px;
  --font-z-subheader: 18px;
  --font-z-header: 26px;

  --sp-xs: 5px;
  --sp-list: 7px;
  --sp-s: 10px;
  --sp-m: 20px;
  --sp-l: 30px;
  --sp-xl: 40px;

  /*THEMES*/
  --theme-dark-header: #ca6c6f;
  --theme-light-header: #dfe2df;
  --theme-neitral-header: #cccc46;
  --theme-default-header: var(--theme-neitral-header);

  --theme-light-bg-image: linear-gradient(
    to right bottom,
    #051937,
    #162454,
    #312d70,
    #533389,
    #7a359f
  );
  --theme-dark-bg-image: linear-gradient(
    to right bottom,
    #000000,
    #160b11,
    #20141e,
    #281b2e,
    #2b2440
  );
  --theme-neitral-bg-image: url("@static/bg.jpg");
  --theme-default-bg-image: var(--theme-neitral-bg-image);

  --box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.5),
    0 6px 30px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --text-shadow-blue: 0 0 2px var(--col-white), 0 0 40px var(--col-blue);
  --box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, 0.02),
    0 6px 30px 5px rgba(255, 255, 255, 0.04),
    0 8px 10px -5px rgba(255, 255, 255, 0.1);
  --text-shadow-yellow: 0 0 2px var(--col-white), 0 0 40px var(--col-yellow);

  --transition: 0.4s linear;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  height: 100vh;
  background-image: var(--theme-default-bg-image);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: var(--font-f-main);
}
.header__text {
  font-size: var(--font-z-header);
  line-height: 1.7;
  text-shadow: 0 0 2px var(--col-black);
  color: var(--theme-default-header);
}
