.peopelList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.item {
  width: 190px;
  margin: 20px;
  border-radius: 3px;
  background-color: var(--col-white);
  display: flex;
  flex-direction: column;
  color: var(--col-black);
}
.photo {
  width: 100%;
}
