:root {
  --col-white: #fff;
  --col-black: #000;
  --col-yellow: #ffff00;

  --sp-s: 10px;
  --sp-m: 15px;
  --sp-l: 20px;
  --sp-xl: 30px;

  --font-z-header: 26px;
  --font-f-main: sans-serif;

  --b-rad-s: 3px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./static/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  font-family: var(--font-f-main);
}
