.peopleItem {
  width: 190px;
  margin: var(--sp-m);
  border-radius: var(--b-rad-s);
  overflow: hidden;
  background-color: var(--col-white);
}
a {
  text-decoration: none;
}
.photo {
  width: 100%;
  height: 260px;
}
.text {
  color: var(--col-black);
  text-align: center;
  text-decoration: none;
  padding: var(--sp-s);
}
@media (min-width: 1320px) {
  .peopleItem {
    width: 17%;
  }
}
