.peopleItem {
  display: inline-block;
  width: 190px;
  margin: var(--sp-m);
  border-radius: var(--b-rad-s);
  overflow: hidden;
  background-color: var(--col-white);
}
a {
  text-decoration: none;
}
.photo {
  width: 100%;
  height: 260px;
}
.text {
  color: var(--col-black);
  text-align: center;
  text-decoration: none;
  padding: var(--sp-s);
}
@media (max-width: 1400px) {
  .peopleItem {
    width: 20%;
  }
}
@media (max-width: 990px) {
  .peopleItem {
    width: 27%;
  }
}
@media (max-width: 760px) {
  .peopleItem {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .peopleItem {
    width: 80%;
  }
}
