:root {
  --b-rad-s: 3px;

  --col-black: #000;
  --col-gray: #9c9c9c;
  --col-white: #fff;

  --font-family-main: sans-serif;
  --font-w-bold: 600;
  --font-z-s: 14px;

  --transition: 0.4s linear;
}
